<!-- unobtrusive ads for arc42 trainings and services -->
<!-- included dynamically via a Next.js api from https://arc42-subtle-ads-backend.vercel.app/api -->


<div class="subtle-ad">
    <h4>arc42 offers architecture training.</h4>
    Two expert trainers at all times, highly practical and pragmatic,
    ideal preparation for <a href="https://www.isaqb.org">iSAQB CPSA-Foundation</a> certification.
    <br>

    <hr>
    Next available dates (in <b>English</b>):

    <ul>
         
         <li><a href="https://www.arc42.de/termine">June 24-26 2025, online (Trainer: Wolfgang Reimesch)</a></li>
         <li><a href="https://www.arc42.de/termine">October 14-16 2025, online (Trainer: Wolfgang Reimesch)</a></li>
    </ul>

    <hr>
    Next available dates (in <b>German</b>):

    <ul>
        
        <li><a href="https://www.arc42.de/termine">May 20.-23. 2025, Mannheim</a></li>
        <li><a href="https://www.arc42.de/termine">September 23.-26. 2025, Frankfurt</a></li>
        <li><a href="https://www.arc42.de/termine">Dec 2.-5. 2025, Munich</a></li>
        
    </ul>


    <h4>iSAQB Advanced Topics</h4>
    <h5>IMPROVE: Learn to effectively evolve and maintain systems.</h5>
    <ul>
        <li>May 7.-9th 2025, Mannheim, **SOLD OUT** Gernot Starke and Peter Hruschka</li>
        <li><a href="https://www.arc42.de/termine">July 15.-17th 2025, Hamburg, Carola Lilienthal with Gernot Starke</a></li>
        <li><a href="https://www.arc42.de/termine">November 25.-27th 2025, Hamburg, Carola Lilienthal with Gernot Starke</a></li>
    </ul>

    <h5>Req4Arc: Getting your Requirements right.</h5>
    What to do if your requirements need improvement.
    <ul>

        <li><a href="https://www.arc42.de/termine">September 30. - October 2nd 2025, Frankfurt, Peter Hruschka and Gernot Starke</a></li>
    </ul>

    <h5>ADOC: Architecture Documentation</h5>
    How to efficiently and effectively create and maintain useful technical documentation, with a strong focus on arc42. Within this practical course you improve your own documentation!
    <ul>
        <li><a href="https://www.arc42.de/termine">May 5-6 2025, Mannheim. Gernot Starke and Peter Hruschka.</a></li>

    </ul>


    <br>
    Contact us for inhouse training.
   <br>
<span style="float: right; font-size: smaller;">Version of: 2025-March-30</span>
<br>
</div>