<!-- unobtrusive ads for arc42 trainings and services -->
<!-- included dynamically via a Next.js api from https://arc42-subtle-ads-backend.vercel.app/api -->


<div class="subtle-ad">
    <h4>arc42 offers architecture training.</h4>
    Two expert trainers at all times, highly practical and pragmatic,
    ideal preparation for <a href="https://www.isaqb.org">iSAQB CPSA-Foundation</a> certification.
    <br>

    <hr>
    Next available dates (in <b>English</b>):

    <ul>
         
         <li><a href="https://www.arc42.de/termine#msa-online-oct-2025">October 14-16 2025, online (Trainer: Wolfgang Reimesch), only two seats availabled</a></li>
         <li><a href="https://www.arc42.de/termine#msa-online-feb-2026">February 24-26 2026, online (Trainer: Wolfgang Reimesch)</a></li>
         <li><a href="https://www.arc42.de/termine#msa-online-jun-2026">June 23-25 2026, online (Trainer: Wolfgang Reimesch)</a></li>
    </ul>

    <hr>
    Next available dates (in <b>German</b>):

    <ul>
        
       
        <li><a href="https://www.arc42.de/termine#msa-dez-2026">Dec 2.-5. 2025, Munich (fully booked)</a></li>
        <li><a href="https://www.arc42.de/termine#msa-jan-2026">January 26.-29. 2026, Munich</a></li>
        <li><a href="https://www.arc42.de/termine#msa-mar-2026">March 3.-6. 2026, Munich</a></li>
        <li><a href="https://www.arc42.de/termine#msa-jun-2026">June 9.-12. 2026, Mannheim</a></li>
        <li><a href="https://www.arc42.de/termine#msa-sep-2026">September 8.-11. 2026, Frankfurt/Main</a></li>
        <li><a href="https://www.arc42.de/termine#msa-dez-2026">Dec 1.-4. 2026, Munich (fully booked)</a></li>
        
    </ul>


    <h4>iSAQB Advanced Topics</h4>
    <h5>IMPROVE: Learn to effectively evolve and maintain systems.</h5>
    <ul>

        <li><a href="https://www.arc42.de/termine#improve-nov-25">November 25.-27th 2025, Hamburg, Carola Lilienthal with Gernot Starke</a></li>
        <li><a href="https://www.arc42.de/termine#improve-jul-26">Juli 23.-25th 2026, Hamburg, Carola Lilienthal with Gernot Starke</a></li>
    </ul>

    <h5>Req4Arc: Getting your Requirements right.</h5>
    What to do if your requirements need improvement.
    <ul>

        <li><a href="https://www.arc42.de/termine#req4arc-mar-2026">March 9.11th 2026, Munich, Peter Hruschka and Gernot Starke</a></li>
        <li><a href="https://www.arc42.de/termine#req4arc-jun-2026">June 17.-19. 2026, Mannheim, Peter Hruschka and Gernot Starke</a></li>
        
    </ul>

    <h5>ADOC: Architecture Documentation</h5>
    How to efficiently and effectively create and maintain useful technical documentation, with a strong focus on arc42. Within this practical course you improve your own documentation!

    From the founders and maintainers of arc42!
    <ul>
        <li><a href="https://www.arc42.de/termine#adoc-jun-2026">June 15.-16. 2026, Mannheim. Gernot Starke and Peter Hruschka.</a></li>

    </ul>


    <br>
    Contact us for inhouse training.
   <br>
<span style="float: right; font-size: smaller;">
    Version of October 4th 2025 (gs@Cologne)
</span>

<br>
</div>