{% assign position_class = include.position | default: "right" %}
{% assign anchor_id = include.anchor_id | default: "msa" %}
{% assign sold_out = include.sold_out | default: false %}
{% assign trainer = include.trainer | default: "Peter Hruschka und Gernot Starke" %}

<div class="container {{ position_class }}" id="{{ anchor_id }}"{% if include.lang %} lang="{{ include.lang }}"{% endif %}>
    <div class="content{% if sold_out %} content--sold-out{% endif %}">
        {{ include.date }}, {{ include.location }}<br>
        <h2 class="course-title">Mastering Software Architectures<br>
        (iSAQB CPSA-Foundation)
        </h2>
        <p>
            Mit dem "dynamischen Duo" {{ trainer }}.
            Die perfekte Vorbereitung auf die iSAQB Foundation Zertifizierung.
        </p>

        {% if sold_out %}
            <p class="timeline-sold-out">(Ausgebucht, nur noch Warteliste)</p>
        {% endif %}

        {% if include.few_seats %}
            <p class="timeline-few-seats">{{ include.few_seats }}</p>
        {% endif %}

        {% if include.pricing %}
            <p class="date-small">
                {{ include.pricing }}
            </p>
        {% endif %}

        <a class="button buttonMSA" href="https://www.arc42.de/info-msa/">Mehr Info</a>
        {% unless sold_out %}
            <a class="button buttonAnmeldung" href="/anmeldung/">Anmeldung</a>
        {% endunless %}
    </div>
</div>
