{{template "top" .}}
{{template "steps" .}}
<h1>{{.T.Title}}</h1>
{{with .Facts}}
<div class="card">
<dl class="facts">
<dt>{{$.T.Course}}</dt><dd>{{.Title}}</dd>
<dt>{{$.T.Dates}}</dt><dd>{{.Dates}}</dd>
<dt>{{$.T.Where}}</dt><dd>{{.Where}}</dd>
<dt>{{$.T.Code}}</dt><dd>{{.Code}}</dd>
</dl>
</div>
{{end}}
<p>{{.T.Explain}}</p>
<form method="post" action="/confirm">
<input type="hidden" name="t" value="{{.Token}}">
<button type="submit" class="big">{{.T.Button}}</button>
</form>
{{template "bottom" .}}
