{{template "top" .}}
{{/* Bilingual: an unreadable token carries no language. */}}
<div lang="de">
<h1>Dieser Link funktioniert nicht</h1>
<p>{{.DE}} Schreiben Sie uns bitte an <a href="mailto:info@arc42.de?subject=Anmeldung%20bestätigen">info@arc42.de</a>, wir kümmern uns darum.</p>
</div>
<div lang="en" class="card">
<h1>This link does not work</h1>
<p>{{.EN}} Please write to <a href="mailto:info@arc42.de?subject=Confirm%20registration">info@arc42.de</a> and we will take care of it.</p>
</div>
{{template "bottom" .}}
